<header>
  <div class ="nameplate">
    <h3><a href="/">{{ site.title }}</a></h3>
  
    <div id= "flexBurger">
     <h5>{{ site.blurb }}</h5>
      <i class="fa fa-bars" aria-hidden="true" id="hamburger"></i>
    </div>
  </div>
   <div id = "navPlus"> 
      <div id ="icon_box">
          <i class="fa fa-twitter" aria-hidden="true" id = "twitter"></i>
          <i class="fa fa-github" aria-hidden="true" id = "github"></i>
          <i class="fa fa-rss" aria-hidden="true" id = "rss"> </i>
      </div>
      <div id = "a_contain">
          <ul>
            {% for the_page in site.pages %}
              {% if the_page.title %}
              <li class = "a_a"><a href="{{ the_page.url }}">{{ the_page.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
      </div>
      <div class = "clear"></div>
</header>
